.segmentedControl {
  display: flex;
  max-width: 300px;
  width: 100%;
  align-items: center;
  position: relative;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
  margin: auto 0;
  font-size: 12px;
  border: 1px solid #000;
  border-radius: 3px;
  color: #fff;
  background-color: gray;
}

.segmentedControl > input {
  display: none;
}

.segmentedControl > input:checked + label {
  color: #fff;
}

.segmentedControl > input:nth-of-type(1):checked ~ label:last-of-type:before {
  transform: translateX(calc(0% + 0px));
}

.segmentedControl > input:nth-of-type(2):checked ~ label:last-of-type:before {
  transform: translateX(calc(100% + 0px));
}

.segmentedControl label {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.segmentedControl label:last-of-type:before {
  content: '';
  display: block;
  max-width: calc(50% - 0px);
  margin: 0px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translateX(0);
}

.segmentedControl label {
  padding: 6px 3px;
  transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.segmentedControl label:before {
  background: #000;
  transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.segmentedControl label:not(:last-child) {
  border-right: 1px solid #000;
}
